[Desktop Entry]
Name=user home backup
GenericName=user home backup
Comment=run backup script
Exec=/home/{{item.user_name}}/bin/backup/backup_user_home.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true